@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Circular STD";
    src: url("../fonts/circular-std-font-family/CircularStd-Bold.woff");
  }

  html {
    font-family: Poppins;
  }

  h1 {
    font-family: Circular STD;
  }
}

@layer components {
  .btn-nav-mobile {
    @apply flex justify-center flex-col items-center gap-1;
  }
  .disabled {
    @apply text-dark opacity-50 font-semibold;
  }
  .active {
    @apply text-dark font-bold;
  }
  .animate-text-hover {
    @apply transition duration-300 ease-in-out hover:text-primary hover:opacity-100;
  }
  .animate-primary-btn {
    @apply transition duration-300 ease-out hover:bg-primary hover:text-white;
  }
  .animate-outline-btn {
    @apply transition duration-300 ease-out hover:bg-white hover:outline hover:outline-primary hover:text-dark;
  }
}
