@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Circular STD";
    src: url("../fonts/circular-std-font-family/CircularStd-Bold.woff");
  }

  html {
    font-family: Poppins;
  }

  h1 {
    font-family: Circular STD;
  }
}

@layer components {
  .btn-nav-mobile {
    @apply flex justify-center flex-col items-center gap-1;
  }
  .disabled {
    @apply text-dark opacity-50;
  }
}
